
#cursor{
    position: fixed;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    z-index: 10000;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(3px, -25px);
    transition: width .5s, height .5s, background-color 1s,top .5s, left .5s;
    top: -7px;
    left: -7px;

}

#cursor.active{
    height: 70px;
    width: 70px;
    background-color: #EEDEFF;
    transition: width .5s, height .5s, background-color 1s, top .5s, left .5s;
    top: -35px;
    left: -35px;
    mix-blend-mode: difference;
}