*{
    box-sizing: border-box;
}


.header{
    position: absolute;
    top: 50px;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.header .header__nav{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background: #3a3a3a;
    border-radius: 10px;
    width: max-content;
    margin: 0 auto;
}

.header .header__nav .list{
    display: flex;
    align-items: center;
}


.header .header__nav .link{
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 5px 46px;
}

.header .header__nav .link .logo{
    font-size: 48px;
    color: #9D84B8;
    font-family: 'Grenze Gotisch', cursive;
    display: block;
    display: block;
    line-height: 36px;
    height: 48px;
}



.header.header__home .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.header__home .header__nav{
    margin: 0;
}

.header .header__nav .hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 17px;
    height: 10px;
}

.header .header__nav .hamburger span{
    width: 100%;
    height: 2px;
    background: #9D84B8;
}

.header .header__nav .mobile__menu.active{
    display: flex;
}

.item__mobile{
    display: none;
}


.header .header__nav .mobile__menu.active .item__mobile{
    display: block;
}

.header .header__social{
    display: none;
}

.header .header__social img{
    width: 20px;
    height: 20px;
}

@media (max-width: 1023px) {
    .header.header__home .header__nav{
        display: grid;
        width: 410px;
    }
    .header .header__nav {
        width: 90%;
        padding: 0 40px;
    }

    .header .header__nav .list{
        width: 100%;
        justify-content: space-between;
    }
    .header .header__nav .link{
       padding: 0;
    }
    .header .header__year{
        display: none;
    }
}


@media (max-width: 767px) {
    .header  .header__nav,  .header.header__home  .header__nav{
        width: 90%;
        margin: 0 auto;

        justify-content: space-between;
    }
    .header .header__nav .list{
        display: none;
    }
    .header .header__nav .hamburger{
        display: flex;

    }
    .header .header__nav.mobile__menu.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        padding: 60px 0 0 0;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 45px;
        z-index: 1000;
    }
    .header .header__nav.mobile__menu.active .hamburger{
        grid-row: 1/2;
        margin-right: 30px;
    }
    .header .header__nav.mobile__menu.active .mobile__dn{
        display: none;
    }
    .header .header__nav.mobile__menu.active .item__mobile{
        display: block;
    }
    .header .header__nav.mobile__menu.active .list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 100px;
        align-items: flex-start;
    }

    .header .header__nav.mobile__menu.active .header__social{
        display: flex;
        gap: 12px;
        margin-right: 30px;
    }
}