
.slider__wrapper{
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.third__section-slider{
    display: flex;
    overflow: hidden;
    margin-top: 50px;

    transition: all .3s;
}



.third__section-slider .third__section-slide{
    width: 800px;
    height: 500px;
}


.home-slider-next, .home-slider-prev{
    top: 0;
    position: absolute;
    border: none;
    background-color: transparent;
    width: 50%;
    height: 100%;
    padding: 0;
    z-index: 1000;
}


.home-slider-prev{
    left: 0;
}
.home-slider-next{
    right: 0;
}

.third__section .third__body .third__section-slider img{
    width: 800px;
    height: 100%;
    display: block;
}


@media (max-width:850px) {
    .slider__wrapper{
        width: 100%;
    }
    .third__section-slider .third__section-slide{
        width: 100%;
        height: auto;
    }
    .third__section .third__body .third__section-slider img{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .slider__wrapper{
        height: auto;
    }
}