

.intro{
    width: 100%;
    min-height: 300px;
    background: url('../../img/intro.jpg') center center / cover no-repeat;
    padding: 270px 0 35px 0 ;
}

.intro .intro__title{
    max-width: 495px;
    font-size: 32px;
}

.intro .intro__descr{
    margin-top: 10px;
    max-width: 432px;
    color: #CDCDCD;
}

.intro .intro__subtitle{
    position: relative;
    color: #CDCDCD;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 210px;
}

.intro .intro__subtitle::before{
    position: absolute;
    content: '';
    height: 37px;
    width: 2px;
    background: #9D84B8;
    top: -50px;
}

@media (min-width: 1500px) {
    .intro{
        min-height: 900px;
    }
}

@media (max-width: 767px) {
    .intro{
        background: #212025;
    }
    .intro .intro__title{
        margin: 0 auto;
        text-align: center;
    }
    .intro .intro__descr{
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;
    }
}