

.intro{
    width: 100%;
    min-height: 100vh;
    background: url('../../img/intro.jpg') center center / cover no-repeat;
    padding: 270px 0 35px 0 ;
}

.intro .intro__title{
    display: block;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    max-width: 790px;
    animation: showContent .7s .5s cubic-bezier(.9,.03,.69,.22) forwards;

    animation-delay: .8s;
}

.intro .intro__descr{
    display: block;
    margin: 0 auto;
    opacity: 0;
    text-align: center;
    margin-top: 10px;
    max-width: 700px;
    color: #CDCDCD;
    animation: showContent .7s .5s cubic-bezier(.9,.03,.69,.22) forwards;
    animation-delay: .8s;
}

.intro .intro__subcontent{
    display: flex;
    justify-content: space-between;
    margin-top: 210px;
}

.intro .intro__subtitle{
    position: relative;
    color: #CDCDCD;
    font-size: 16px;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    animation: showContent .7s .4s cubic-bezier(.9,.03,.69,.22) forwards;
}

.intro .intro__subtitle::before{
    position: absolute;
    content: '';
    height: 37px;
    width: 2px;
    background: #9D84B8;
    top: -50px;
}

.intro .intro__social{
    display: flex;
    gap: 5px;
    opacity: 0;
    animation: showContent .5s 1.1s cubic-bezier(.9,.03,.69,.22) forwards;
}

.intro .animation__element{
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(20px);
    background: transparent;
    animation: startAnimation 1.5s linear forwards;
}

@keyframes startAnimation {
    0%{
        margin: 0 0 0 100%;
    }
    50%{
        margin: 0 0 0 1px;
    }
    100%{
        margin: 0 0 0 100%;
    }
}

@keyframes showContent {
    0%{
        opacity: 0;
        z-index: 1;
    }
    100%{
        opacity: 1;
        z-index: 1;
    }
}
@keyframes setWidth {
    0%{
        width: 250px;
    }
    100%{
        width: 0;
    }
}

@media (min-width: 1500px) {
    .intro{
        min-height: 900px;
    }
}



@media (max-width: 767px) {
    .intro .intro__title{
        margin: 0 auto;
        text-align: center;
    }
    .intro .intro__descr{
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;
    }
    .intro .intro__subcontent{
      display: none;
    }
}