

.intro{
    width: 100%;
    min-height: 100vh;
    background: url('../../img/intro.jpg') center center / cover no-repeat;
    padding: 270px 0 35px 0 ;
}

.intro .intro__title{
    max-width: 495px;
    font-size: 32px;
    animation: showContent 1.3s;
}

.intro .intro__descr{
    margin-top: 10px;
    max-width: 432px;
    color: #CDCDCD;
    animation: showContent 1.3s;
}

.intro .intro__subtitle{
    position: relative;
    color: #CDCDCD;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 210px;
    animation: showContent 1s;
}

.intro .intro__subtitle::before{
    position: absolute;
    content: '';
    height: 37px;
    width: 2px;
    background: #9D84B8;
    top: -50px;
}

.intro .animation__element{
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(20px);
    background: transparent;
    animation: startAnimation .9s linear 0s 1 normal forwards;
}

@keyframes startAnimation {
    0%{
        margin: 0 0 0 -200px;
    }
    100%{
        margin: 0 0 0 100%;
        display: none;
    }
}

@keyframes showContent {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width: 1500px) {
    .intro{
        min-height: 900px;
    }
}



@media (max-width: 767px) {
    .intro{
        background: #212025;
    }
    .intro .intro__title{
        margin: 0 auto;
        text-align: center;
    }
    .intro .intro__descr{
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;
    }
}